<div class="custom-lessons-wrap">
  <a
    href="/"
    class="custom-lesson user-state-reached"
  >
    <span class="custom-lesson__number">Урок 0</span>
    <span class="custom-lesson__title">Название урока</span>
    <span class="custom-lesson__state">Доступен</span>
    <span class="custom-lesson__button">Перейти</span>
  </a>
  <a
    href="/"
    class="custom-lesson user-state-not_reached"
  >
    <span class="custom-lesson__number">Урок 1</span>
    <span class="custom-lesson__title">Название урока</span>
    <span class="custom-lesson__state">Не доступен</span>
    <span class="custom-lesson__button">Откроется 12 декабря</span>
  </a>
  <a
    href="/"
    class="custom-lesson user-state-need_accomplish"
  >
    <span class="custom-lesson__number">Урок 2</span>
    <span class="custom-lesson__title">Название урока</span>
    <span class="custom-lesson__state">Есть задание</span>
    <span class="custom-lesson__button">Перейти</span>
  </a>
  <a
    href="/"
    class="custom-lesson user-state-has_mission"
  >
    <span class="custom-lesson__number">Урок 3</span>
    <span class="custom-lesson__title">Название урока</span>
    <span class="custom-lesson__state">Есть задание</span>
    <span class="custom-lesson__button">Перейти</span>
  </a>
  <a
    href="/"
    class="custom-lesson user-state-answered"
  >
    <span class="custom-lesson__number">Урок 4</span>
    <span class="custom-lesson__title">Название урока</span>
    <span class="custom-lesson__state">На проверке</span>
    <span class="custom-lesson__button">Перейти</span>
  </a>
  <a
    href="/"
    class="custom-lesson user-state-accomplished"
  >
    <span class="custom-lesson__number">Урок 5</span>
    <span class="custom-lesson__title">Название урока</span>
    <span class="custom-lesson__state">Принят</span>
    <span class="custom-lesson__button">Перейти</span>
  </a>
</div>
