<div class="custom-modules-wrap">
  <a
    href="/"
    class="custom-module"
    >
      <span class="custom-module__number">Модуль 0</span>
      <span class="custom-module__title">Название модуля</span>
      <span class="custom-module__done"><b>12</b> / 24</span>
      <span class="custom-module__button">Перейти</span>
    </a>
    <a
    href="/"
    class="custom-module"
    >
      <span class="custom-module__number">Модуль 1</span>
      <span class="custom-module__title">Название модуля</span>
      <span class="custom-module__done"><b>12</b> / 24</span>
      <span class="custom-module__button">Перейти</span>
    </a>
    <a
    href="/"
    class="custom-module"
    >
      <span class="custom-module__number">Модуль 2</span>
      <span class="custom-module__title">Название модуля</span>
      <span class="custom-module__done"><b>12</b> / 24</span>
      <span class="custom-module__button">Перейти</span>
    </a>
    <a
    href="/"
    class="custom-module"
    >
      <span class="custom-module__number">Модуль 3</span>
      <span class="custom-module__title">Название модуля</span>
      <span class="custom-module__done"><b>12</b> / 24</span>
      <span class="custom-module__button">Перейти</span>
    </a>
    <a
    href="/"
    class="custom-module"
    >
      <span class="custom-module__number">Модуль 4</span>
      <span class="custom-module__title">Название модуля</span>
      <span class="custom-module__done"><b>12</b> / 24</span>
      <span class="custom-module__button">Перейти</span>
    </a>
    <a
    href="/"
    class="custom-module"
    >
      <span class="custom-module__number">Модуль 5</span>
      <span class="custom-module__title">Название модуля</span>
      <span class="custom-module__done"><b>12</b> / 24</span>
      <span class="custom-module__button">Перейти</span>
    </a>
</div>
