<nav class="custom-nav">
  <button
    type="button"
    class="custom-nav__button"
  >
    Перейти...
  </button>
  <ul class="custom-nav__list">
    <li class="custom-nav__list-item">
      <a
        href="../index.html"
        class="custom-nav__list-link custom-nav__list-link_all-trainings custom-nav__list-link_icon"
        >Все тренинги</a
      >
    </li>
    <li class="custom-nav__list-item">
      <a
        href="/"
        class="custom-nav__list-link active-nav-item"
        >Дашборд</a
      >
    </li>
    <li class="custom-nav__list-item">
      <a
        href="./traning.html"
        class="custom-nav__list-link"
        >Название тренинга</a
      >
    </li>
  </ul>
</nav>
