<a
  href="/"
  class="custom-training custom-training_not-avaliable"
  data-training-id="696796713"
>
  <div class="custom-training__state">Недоступен</div>
  <div class="custom-training__title">Учимся создавать контестное меню в&nbsp;Getcourse</div>
  <div class="custom-training__description">
    Большой подзаголовок для тренинга может уместиться даже несколько строк
    а&nbsp;то&nbsp;и&nbsp;больше
  </div>
  <div class="custom-training__lock"></div>
  <div class="custom-training__button">Купить курс</div>
</a>
