/* styles for native trainings */
.stream-table tbody tr td {
	padding: 0;
}
.stream-table tbody tr td:hover {
    background: transparent;
}
.stream-table tbody tr a {
    width: 100%;
    min-height: 210px;
    background: var(--training-bg);
    border-radius: 24px;
    padding: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
    color: var(--color-training-text);
    margin: 0px auto 14px;
    max-width: 694px;
}
.stream-table a .stream-title {
    max-width: 65%;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-top: 40px;
    margin-bottom: 8px;
    color: var(--color-training-text);
}
.stream-table tbody tr a b {
    max-width: 65%;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: var(--color-training-description);
}
.stream-table tbody tr a::after {
	position: absolute;
    bottom: 24px;
    right: 24px;
    content: 'Войти в тренинг';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    background: var(--color-state-bg);
    border-radius: 8px;
    color: var(--color-training-text);
}
.stream-table tbody tr a::before {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    background: var(--color-avaliable);
    border-radius: 6px;
	position: absolute;
    top: 24px;
    left: 24px;
    content: 'Доступен';
    padding: 6px 10px;
}
